.brightbox{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    margin: auto;
    gap: 10px;
    background-color: #f6eafe60;
    width: 80%;
    border-radius: 20px;
}
.brain{
    width: 40%;
    max-width: 400px;
    min-width: 300px;
}
.brain img{
    width: 100%;
    object-fit: contain;
    padding: 5%;
}
.brighthead{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}
.brightcontent{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.brighttext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    /* width: 50%; */
}
@media only screen and (max-width: 1100px) {
    .brighthead{
        font-size: 40px;
    }
    .brightcontent{
        font-size: 20px;
    }
}

@media only screen and (max-width: 620px) {
    .brain{
        display: none;
    }
    .brighttext{
        width: 80%;
        text-align: center;
        /* margin: 40px 0; */
        background:  rgba(256, 256, 256, 0.7);
        
        padding: 25px;
    }
    .brainimg{
        background: url('../assets/brain.png') no-repeat;
        background-position: center;
        background-size: contain;
    }
}
@media only screen and (max-width: 500px) {
    .brighthead{
        font-size: 30px;
    }
    .brightcontent{
        font-size: 18px;
    }
}