.CEObox{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.CEO{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.CEOImg{
    width: 30%;
    height: 100%;
    background: url('../assets/character@3x\ 1.png') no-repeat;
    background-position: center;
    background-size: 350px;
}
.CEOtext{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.CEOname{
    font-size: 40px;
    font-weight: 400;
    margin: 15px 0;
}
.CEOdesignation{
    font-size: 20px;
    margin-bottom: 10px ;
}
.CEOmsg{
    font-size: 18px;
    width: 100%;
}
