.contact{
    width: 90%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 45px 0;
    background-color: lightgrey;
    overflow: hidden;
    height: -moz-fit-content;
    height: fit-content;

}
.Info{
    width: 40%;
    background-color: #DCE6FC;
    height: 100%;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graphics{
    width: 60%;
    background: url('../assets/contact@33\ 1.png') no-repeat;
    background-size: contain;
    background-position: center;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.conttext{
    font-size: 20px;
    margin-bottom: 40px;
}
.inputs{
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-around;
}
.inputs input{
    height: 50px;
    width: 90%;
    border-radius: 25px;
    border: 0px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}
.contheading{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
}
.submit{
    background-color: yellow;
    width: 20%;
    min-width: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
@media only screen and (max-width: 700px) {
    .graphics{
        display: none;
    }
    .Info{
        width: 100%;
        padding: 30px;
        background: rgba(220, 230, 252, 0.7);
    }
    .contact{
        width: 90%;
        background-color: transparent;
        background: url('../assets/contact@33\ 1.png') no-repeat;
        background-size: contain;
        background-position: center;
    }
}
@media only screen and (max-width: 1020px) {
    .Info{
        padding: 20px;
    }
}