/* Footer Style */
.footer {
  background-color: #080808;
  padding: 32px;
  margin: 0px;
  text-align: center;
  font-size: 14px;
  color: #e5e5e5;
  text-align: left;
  font-family: "open sans", sans-serif;
}

.footerbottom {
  text-align: center;
}
.footerbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.footeraddress {
  width: 34%;
}

.addresscontent {
  text-align: left;
  line-height: 1.4rem;
  margin-top: 0.6rem;
}

.footerproductlist {
  padding: 0.5rem 0rem;
}

.footerlist {
  text-align: left;
}

.footeritems {
  list-style-type: none;
  padding: 0.2rem 0rem;
  margin: 0px;
  text-align: left;
}

.links {
  text-decoration: none;
  color: #bebebe;
}

.linkshead {
  margin-bottom: 0.1rem;
  font-size: 1rem;
}
