.main-section {
  /* background: url("../assets/main-img.png") no-repeat; */
  /* background-size: 30cm;
  background-position-x: 700px;
  background-position-y: 200px; */
  display: flex;
  align-items: flex-start;
  height: fit-content;
  padding-top: 5%;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.image{
  width: 70%;
  /* position: absolute; */
  display: grid;
  place-items: center;
  padding-bottom: 20px;
  opacity: 0;
  animation: fadeInText 0.3s forwards 0.9s;
}
.image img{
  max-width: 100%;
  object-fit: cover;
  min-width: 500px;
}
.Content {
  width: 80%;
  text-align: center;
  z-index: 1;
  padding: 80px 0 0 0;
}
.color {
  background-color: #F6EAFE;
  margin-bottom: 1%;
}

.imageStyle {
  max-height: 80%;
  margin-left: 2rem;
  
}

.textheadStyle {
  font-size: 3.5rem;
  font-weight: bold;
  animation: scaleInnovate 0.5s forwards;
}

.textStyle {
  font-size: 1.6rem;
  font-weight: regular;
  margin-top: 2.0rem;
  padding-bottom: 1%;
  opacity: 0;
  animation: fadeInText 0.5s forwards 0.4s;

}
@media only screen and (max-width: 1150px) {
  .textheadStyle{
    font-size: 45px;
  }
  .textStyle{
    font-size: 25px;
  }
}
@media only screen and (max-width: 800px) {
  .textheadStyle{
    font-size: 35px;
  }
  .textStyle{
    font-size: 20px;
  }
  .Content{
    width: 90%;
  }
  .image{    
    width: 100%;
    display: grid;
    place-items: center;
    place-content: center;
    overflow: hidden;}
}

@keyframes scaleInnovate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}