.main-section {
  /* background: url("../assets/main-img.png") no-repeat; */
  /* background-size: 30cm;
  background-position-x: 700px;
  background-position-y: 200px; */
  display: flex;
  align-items: flex-start;
  height: 850px;
  padding-top: 5%;
  align-items: center;
}
.image{
  width: 60%;
  height: 100%;
  display: grid;
  place-content: center;
}
.Content {
  width: 40%;
  padding: 0 50px;
  display: grid;
  place-items: center;
}
.color {
  background-color: #F6EAFE;
  margin-bottom: 1%;
}

.imageStyle {
  max-height: 80%;
  margin-left: 2rem;
}

.textheadStyle {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 2rem;
}

.textStyle {
  font-size: 2rem;
  font-weight: regular;
  margin-left: 2rem;
}
