*{
    margin: 0;
    padding: 0;
}
.Topic{
    background: url('../assets/image\ 7.png') no-repeat;
    background-size: contain;
    height: 90px;
    width: 360px;

}
.TopicCard{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Pic{
    background: url('../assets/Frame.png') no-repeat;
    background-size: contain;
    height: 600px;
    width: 600px;
    padding-right: 10%;
}
.PicAndPoints{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    width: 100%;
}
.Points{
    height: 750px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.subTopic{
    font-size: larger;
    font-weight: bold;
}
.Point{
    width: 70%;
}
.Yellow{
    color: yellow;
}
.Blue{
    color: blue;
    padding-left: 100px;
}
.Green{
    color: green;
    padding-left: 100px;
}
.Purple{
    color: purple;
}
.Grey{
    color: gray;
}