.Workcard{
    width: 90%;
    max-width: 1300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    gap: 60px;
}
.rtl{
    flex-direction: row;
}
.ltr{
    flex-direction: row-reverse;
}
.imgcard{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.ContentText{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #DCE6FC; */
}
.padd{
    padding: 10px;
    margin: 5px 0;
    min-width: 150px;
}
.workheading{
    font-size: 32px;
    font-weight: 500;
    margin:5px 0;
}
.worktext{
    font-size: 20px;
    margin: 5px 0;
}
.nostyle{
    text-decoration: none;
}
@media screen and (max-width: 700px) {
    .Workcard{
        flex-direction: column;
        gap: 10px;
    }
    .imgcard{
        width: 80%;
    }
    .ContentText{
        width: 90%;
    }
  }
@media screen and (max-width: 500px) {
    .workheading{
        font-size: 25px;
    }
    .worktext{
        font-size: 16px;
    }
}