.App {
  /* background-color: #d9d9d9; */
  height: 100vh;
  font-size: 16px;
  font-family: "Poppins";
}

/* Media Queries */

@media screen and (max-height: 768px) {
  .navWrapper {
    height: 60px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .navWrapper {
    height: 40px;
    font-size: 12px;
  }
}
