.OurWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
}
.WorkHeading{
    font-size: 50px;
    font-weight: bolder;
}
.workBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #DCE6FC; */
    border-radius: 20px;
}
.header{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url('./assets/Group\ 12.png') no-repeat;
    background-position: center;    
    background-size: cover;
}
.Headertext{
    padding: 10px;
    width: 60%;
    font-size: 20px;
}